
# Node modules
node_modules

# Environment variables
.env

# Logs
logs
*.log

# Database
*.sqlite3
*.db

# Reports and backups
reports/
backups/

# IDE files
.vscode
.idea

# Windows service files
daemon/

# npm debug logs
npm-debug.log*

# Windows service logs
*.out
*.err

# Test coverage
coverage/

# Build files
dist/
build/
